* {
   margin: 0px;
   padding: 0%;
   box-sizing: border-box;
}

body {
   background-color: grey;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

:root {
   --main-bg-color: #000;
   --bg-operator1: #ed6767;
   --bg-operator2: #efa430;
   --bg-btn: #48a3f0;
   --bg-caLc: #27cf55;
}

.main {
   width: 400px;
   padding: 20px 16px;
   border-radius: 16px;
   background-color: var(--main-bg-color);
   color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 12px;
   font-size: 24px;
   font-weight: bold;
   border: solid black;
   box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.4);
}

h1 {
   color: white;
   font-size: 24px;
   font-weight: bold;
}

#display {
   background-color: var(--main-bg-color);
   color: white;
   padding: 16px;
   border: 2px solid rgb(133, 130, 130);
   border-radius: 8px;
   width: 356px;
   height: 100px;
   font-size: 32px;
   text-align: right;
}

.btnR1,
.btnR2,
.btnR3,
.btnR4,
.btnR5 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
}

.operator {
   background-color: var(--bg-operator2);
   color: white;
   text-align: center;
   align-content: center;
   width: 80px;
   padding: 16px;
   border-radius: 8px;
}

.operator:hover {
   opacity: 0.9;
}

.operator:active {
   opacity: 0.7;
}

.btn {
   background-color: var(--bg-btn);
   text-align: center;
   align-content: center;
   width: 80px;
   padding: 16px;
   border-radius: 8px;
}

.btn:hover {
   opacity: 0.9;
}
.btn:active {
   opacity: 0.7;
}
.ac {
   background-color: var(--bg-operator1);
   text-align: center;
   align-content: center;
   width: 172px;
   padding: 16px;
   border-radius: 8px;
}

.zero {
   background-color: var(--bg-btn);
   text-align: center;
   align-content: center;
   width: 172px;
   padding: 16px;
   border-radius: 8px;
}

.calc {
   background-color: var(--bg-caLc);
   text-align: center;
   align-content: center;
   width: 80px;
   padding: 16px;
   border-radius: 8px;
}
